.section {
  padding: 26px 0 20px;
}
.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.type {
  font-size: 14px;
  line-height: 1.21;
  width: 100px;
}
.btn {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--accent-color);
  padding: 17px 14px;
  height: 48px;
  min-width: 130px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  border: 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 273px;
  }
  .btn {
    font-size: 14px;
    min-width: 181px;
  }

  .type {
    font-size: 22px;
    line-height: 1.23;
    width: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 107px;
  }
  .subContainer {
    width: 861px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
