.card {
  background-color: var(--white-color);
  padding: 40px 20px 76px;
}
.title {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #555555;
  margin-bottom: 20px;
}
.active__page {
  color: var(--accent-color);
  font-weight: 700;
}
.subtitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
}
.line {
  width: 130px;
  height: 1px;
  background-color: rgba(0, 18, 47, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.form {
  display: flex;
  flex-direction: column;
}
