.container {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
}
.container:not(:last-child) {
  margin-bottom: 14px;
}
.outer {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all 0.1s linear;
}

.inner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: all 0.1s linear;
}
.unselected {
  border: 1px solid var(--black-color);
}
.unselectedCircle {
  width: 0;
  height: 0;
}
.text {
  color: var(--black-color);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}
