.btn {
  position: absolute;
  bottom: -39px;
  left: 20px;
  background: var(--btn-gradient);
  border: 2px solid var(--btn-border);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  font-size: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5rem;
  width: 60px;
  height: 30px;
}
.icon {
  height: auto;
  transition: all 0.3s linear;
}

.sun {
  transform: translateY(0);
  fill: yellow;
}
body[data-theme='dark'] .sun {
  transform: translateY(100px);
}

.moon {
  transform: translateY(-100px);
  fill: orange;
}
body[data-theme='dark'] .moon {
  transform: translateY(0);
}
