.navContainer {
  position: relative;
  display: flex;
  /* padding: 20px; */
  border-bottom: 1px solid #e2e3e5;

  justify-content: space-around;
  align-items: center;
}

.linkContainer {
  display: flex;
  align-items: center;
  height: 71px;
  padding-right: 20px;
}

.logo {
  cursor: pointer;
  margin-right: 60px;
  padding: 20px 0 20px 20px;
}

.menuButton {
  cursor: pointer;
  margin-left: 6%;
  padding-left: 20px;
  border-left: 1px solid #e2e3e5;

}

.name {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 28px;
  display: none;
  font-size: 12px;
  font-weight: 500;
  padding-right: 20px;
  border-right: 1px solid #e2e3e5;
}

.menu {
  display: none;
}

.logOut {
  /*  */
  display: none;
  cursor: pointer;
}

/* .name::after {
  content: "";
  position: absolute;
  pointer-events: none;
  display: block;
  height: 71px;
  width: 1px;
  background-color: #e2e3e5;
  right: 60px;
  top: 0px;

  margin-right: 10px;
} */



@media screen and (min-width: 767px) {
  .navContainer {
    max-width: none;
    justify-content: space-between;
  }

  .name {
    display: block;
  }

  .logOut {

    display: block;
  }

  .menu {
    display: block;
  }

  .menuButton {
    display: none;
  }
}

@media screen and (min-width: 1279px) {
  .navContainer {
    max-width: none;
    justify-content: space-between;
  }



  .logo {
    /* margin-right: 41%; */
  }

  .name {
    display: block;
  }

  .logOut {
    display: block;
  }

  .menu {
    display: block;
  }

  .menuButton {
    display: none;
  }

  .letter {
    margin-right: 20px;
  }

  .name {
    margin-right: 20px;
    font-size: 14px;
  }
}