@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  --accent-color: #ff6b09;
  --bg-color: #02172a;
  --white-color: #ffffff;
  --black-color: #000000;
  --main-bg-color: #e5e5e5;
  --btn-gradient: linear-gradient(#39598a, #79d7ed);
  --btn-border: #ffffff;
  --bgc-auth: #f5f6fb;
  --input-color: #bbbbbb;
  --incorrect-bgc: #d7d7d7;
}
[data-theme='dark'] {
  --accent-color: #b04803;
  --bg-color: #035199;
  --white-color: #000000;
  --black-color: #ffffff;
  --main-bg-color: #121212;
  --btn-gradient: linear-gradient(#091236, #1e215d);
  --btn-border: #6b8096;
  --bgc-auth: #767070;
  --input-color: #fff;
  --incorrect-bgc: #412e2e;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--black-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.19;
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
